.imessage-light-mode {
    --imessage-danger: #d9534f;
    --imessage-primary: #428bca;
    --imessage-white: #ffffff;
    --imessage-gray: #f0f2f5;
    --imessage-gray2: #bcc0c4;
    --imessage-gray3: #E4E6EB;
}

.imessage-chatbox {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: flex;
    flex-direction: column;
}

.imessage-chatbox-block {
    border: 1px #ddd solid;
    border-radius: 4px;
}

.imessage-chat-btn {
    position: fixed;
    border-radius: 50%;
}

.imessage-chat-btn > a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.imessage-chat-btn svg {
    width: 100%;
    height: 100%;
}

.imessage-chatbox-btn {
    position: fixed;
    background-color: var(--imessage-white);
    display: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1),0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.imessage-chatbox-btn.box-round-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.imessage-chatbox-btn.box-open {
    display: flex;
}

.imessage-box-heading {
    flex: 0 0 48px;
    max-height: 48px;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),0 -1px rgba(0, 0, 0, 0.1) inset,0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.imessage-chatbox-block .imessage-box-heading {
    background-color: var(--imessage-primary);
    color: var(--imessage-white);
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.imessage-box-heading .box-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.imessage-box-heading .box-tools {
    display: flex;
    align-items: center;
}

.imessage-chatbox-block .box-tools {
    display: none;
}

.imessage-box-heading .box-tools a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}

.imessage-box-heading .box-tools a svg {
    fill: var(--imessage-gray2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 18px;
    height: 18px;
}

.imessage-box-heading .box-tools a:hover {
    background-color: var(--imessage-gray);
}

.imessage-box-heading .box-tools a:hover svg {
    fill: var(--imessage-primary);
}

.imessage-box-body {
    flex-grow: 1;
    flex-shrink: 1;
}

.imessage-chatbox-btn.box-round-bottom .imessage-box-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.imessage-box-footer {
    padding: 10px 8px;
    align-items: end;
    position: relative;
}

.imessage-box-footer svg {
    fill: var(--imessage-primary);
    width: 100%;
    height: 100%;
}

.imessage-box-footer .box-text {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--imessage-gray);
    border-radius: 20px;
    padding: 8px;
    padding-right: 32px;
    padding-left: 12px;
    transition: margin-left 0.2s ease-in-out;
    margin-left: 56px;
}

.imessage-is-typing .box-text {
    border-radius: 14px;
}

.imessage-box-footer textarea {
    border: 0;
    resize: none;
    height: 16px;
    display: block;
    width: 100%;
    margin: 0;
    line-height: 16px;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: transparent;
}

.imessage-box-footer .box-funcs {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 16px;
}

.imessage-is-typing .box-funcs {
    display: none;
}

.imessage-is-typing .box-text {
    margin-left: 0;
}

.imessage-box-footer .box-funcs a {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.imessage-box-footer .box-funcs .icon-sound svg.sound-off {
    display: none;
}

.imessage-box-footer .icon-emoji {
    display: block;
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 20px;
    height: 20px;
}

.imessage-emojis-panel {
    display: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--imessage-white);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.imessage-emojis-panel .emoji-icon {
    fill: var(--imessage-white);
    transform: scale(-1, 1) translate(0px, 0px);
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
}

.imessage-emojis-panel .emoji-body {
    position: relative;
    overflow: hidden;
    max-height: 100%;
}

.imessage-emojis-panel .emoji-body-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.imessage-item-emoji {
    padding: 4px;
}

.imessage-item-emoji img {
    cursor: pointer;
}

.imessage-box-body-scroller {
    position: relative;
    overflow: hidden;
}

.imessage-box-body-inner {
    min-height: 100%;
}

.imessage-box-body-inner.login,
.imessage-box-body-inner.info {
    height: 100%;
    overflow: hidden;
}

.imessage-box-body-inner.chat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
}

.imessage-box-body-inner.chat>.imessage-chat-row {
    flex: 0 0 100%;
    max-width: 100%;
}

.imessage-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.imessage-login a {
    display: block;
    padding: 15px 10px;
    line-height: 1;
    flex: 0 1 70%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 8px;
    background-color: var(--imessage-primary);
    color: var(--imessage-white);
    font-weight: 500;
}

.imessage-info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--imessage-danger);
    text-align: center;
}

.imessage-chat-row {
    padding-bottom: 4px;
    display: flex;
    align-items: flex-end;
}

.imessage-chat-row .chat-avata {
    padding: 8px;
}

.imessage-chat-row .chat-avata img {
    background-color: var(--imessage-gray);
    border-radius: 14px;
    width: 28px;
    height: 28px;
}

.imessage-chat-row .chat-messages {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 8px;
}

.imessage-chat-row .chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.imessage-chat-row .chat-item:last-child {
    margin-bottom: 0;
}

.imessage-chat-row .chat-item .item-body {
    padding: 10px 12px;
    background-color: var(--imessage-gray3);
    border-radius: 4px;
}

.imessage-chat-row .chat-item .item-body .ding {
    font-weight: 700;
}

.imessage-chat-row .chat-item .item-tools {
    display: flex;
    margin-left: 8px;
    opacity: 0;
}

.imessage-chat-row .chat-item:hover .item-tools {
    opacity: 1;
}

.imessage-chat-row .chat-item .item-tools a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}

.imessage-chat-row .chat-item .item-tools a:hover {
    background-color: var(--imessage-gray);
}

.imessage-chat-row .chat-item .item-tools a svg {
    fill: var(--imessage-gray2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 14px;
    height: 14px;
}

.imessage-chat-row.row-other .chat-item .item-body {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.imessage-chat-row.row-other .chat-item .item-body .ding {
    color: var(--imessage-danger);
}

.imessage-chat-row.row-other .chat-item:first-child .item-body {
    border-top-left-radius: 18px;
}

.imessage-chat-row.row-other .chat-item:last-child .item-body {
    border-bottom-left-radius: 18px;
}

.imessage-chat-row.row-me .chat-avata {
    order: 2;
}

.imessage-chat-row.row-me .chat-messages {
    order: 1;
    padding-right: 0;
    padding-left: 8px;
}

.imessage-chat-row.row-me .chat-item {
    justify-content: flex-end;
}

.imessage-chat-row.row-me .chat-item .item-tools {
    order: 1;
    margin-left: 0;
    margin-right: 8px;
}

.imessage-chat-row.row-me .chat-item .item-body {
    background-color: var(--imessage-primary);
    color: var(--imessage-white);
    order: 2;
}

.imessage-chat-row.row-me .chat-item .item-body {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.imessage-chat-row.row-me .chat-item:first-child .item-body {
    border-top-right-radius: 18px;
}

.imessage-chat-row.row-me .chat-item:last-child .item-body {
    border-bottom-right-radius: 18px;
}
